<main class="score-cmp">
  <div class="d-flex p-3">
    <div class="flex-grow-1"></div>
    <div id="score-result">
      <h2 class="congrats">CONGRATS <span id="name"></span></h2>
      <table class="tscore">
        <tr>
          <td class="tab-score"><span id="username"></span></td>
          <td class="tab-score"><span id="size"></span> pairs</td>
          <td class="tab-score"><span id="time"></span> seconds</td>
        </tr>
      </table>
    </div>
    <div>
      <img src="./assets/happy_homer.jpg" class="happy" />
    </div>
    <div id="scores">
      <h3>ALL TIME SCORES</h3>
    </div>
  </div>
</main>
